.App {
  text-align: center;
}

.currencyContainer
{
  border: 2px solid purple;
  display: inline-block;
}

.converterDiv
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.calculateCurrency
{
  width: 100%;
  background-color: purple;
  color: white;
  border: 2px solid purple;
}

.exchangeBtn
{
  cursor: pointer;
}

#resultDivID p 
{
  color: red;
}
